/* elements */

body {
    background-color: black;
}

ul {
    list-style-type: none;
}


/* classes */

.add-goal {
    padding-bottom: 20px;
}

.carousel {
    border: solid white; 
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); 
}

.clear {
    margin-bottom: 20px;
}

.goalComplete {
    color: green;
}

.goalIncomplete {
    color: white;
}

.goalLine {
    text-decoration: line-through;
}

.jumbotron {
    color: white;
    background-color: transparent;
}

.progress {
    margin-top: 20px;
    margin-bottom: 50px;
}
  

/* ids */

#cancel {
    margin: 10px;
}

#carouselControl {
    position: absolute;
    right: 0;
    bottom: 0; 
}

#copyright {
    color: white;
    margin-left: 15px;
    padding-top: 20px;
}

#facebook {
    margin-right: 30px;
    margin-top: 200px;
}

#inspiration {
    color: green;
    font-weight: bold;

}

#instagram {
    margin-right: 30px;
    margin-top: 200px;
}

#loginButton {
    color: green;
    cursor: pointer;
}

#loginText {
    margin-right: 50px;
    margin-top: 20px;
}

#jumbotronText {
    margin-top: 30px;
}

#main {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#navLogoBottom {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

#navLogoTop {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: white;
    border-radius: 50%;
}

#profile {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 65px;
}

#resetIcon {
    margin-left: 15px;
}

#signIn {
    margin: 10px; 
}

#signUp {
    margin: 10px;
}

#thisWeek {
    margin-top: 30px;
}

#twitter {
    margin-top: 200px;
}




